@use "./base.scss";

// put your custom CSS here!
$mocha-light-pink: #F5C2E7;
$mocha-muted-pink: #F28FAD;
$mocha-soft-green: #ABE9B3;
$mocha-sky-blue: #96CDFB;
$mocha-peach: #F8BD96;
$mocha-red: #f38ba8;
$mocha-sapphire: #74c7ec;
$mocha-lavender: #b4befe;
$mocha-mauve: #cba6f7;

h1 {
  color: $mocha-red; 
}

h2 {
  color: $mocha-peach; 
}

h3 {
  color: $mocha-soft-green; 
}

h4 {
  color: $mocha-sapphire; 
}

h5 {
  color: $mocha-lavender; 
}

h6 {
  color: $mocha-mauve; 
}
